BOT_TOKEN=your_bot_token_here
DB_NAME=client_rex_alphasight_capital
MONGODB_URI=
PORT=3000
CELLXPERT_API_KEY=
CELLXPERT_AFFILIATE_ID=35089
CELLXPERT_BASE_URL=https://affiliate.marketsvox.com/api/
FIXIE_URL=http://fixie:your_fixie_password@your-subdomain.usefixie.com:80
